<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="23.12.0" targetFramework="net472" />
  <package id="ceTe.DynamicPDF.CoreSuite.NET" version="12.13.0" targetFramework="net472" />
  <package id="ceTe.DynamicPDF.Viewer.NET" version="3.18.0" targetFramework="net472" />
  <package id="Haukcode.WkHtmlToPdfDotNet" version="1.5.86" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
</packages>